[project]
	description = Ubuntu Tutorials and How to's 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pratik Dayama (maxfrost1308)
[access "refs/for/refs/*"]
	read = group user/Pratik Dayama (maxfrost1308)
	push = group user/Pratik Dayama (maxfrost1308)
	label-Code-Review = -2..+2 group user/Pratik Dayama (maxfrost1308)
	label-Verified = -1..+1 group user/Pratik Dayama (maxfrost1308)
	rebase = group user/Pratik Dayama (maxfrost1308)
	removeReviewer = group user/Pratik Dayama (maxfrost1308)
	submit = group user/Pratik Dayama (maxfrost1308)
[access "refs/heads/*"]
	read = group user/Pratik Dayama (maxfrost1308)
	create = group user/Pratik Dayama (maxfrost1308)
	push = +force group user/Pratik Dayama (maxfrost1308)
	pushMerge = group user/Pratik Dayama (maxfrost1308)
[access "refs/tags/*"]
	push = group user/Pratik Dayama (maxfrost1308)
	push = +force group user/Pratik Dayama (maxfrost1308)
